<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>실습문제2</h1>
    <h2>POST 요청</h2>
    <form action="/postForm2" method="post"   name="validationForm"
    target="_blank"
    onsubmit="return checkForm(this)">
    <label> 이름 <input type="text" name="name" /> </label>
    <br />
    <fieldset>
      <legend>성별</legend>
      <label>
        <input type="radio" name="gender" value="남자" />
        남자
      </label>
      <label>
        <input type="radio" name="gender" value="여자" />
        여자
      </label>
  </fieldset>

  <fieldset>
      <legend>생년월일</legend>
    <label for="birthYear">
      <select id="birthYear" name="birthYear">
          <option value="" disabled selected>년</option>
          <% for(let i=1980; i<2010; i++) {%>
          <option value="<%=i%>"><%=i%></option>
          <% } %>
        </select>
      </select>
      <span>년</span>
    </label>

    <label for="birthMonth">
      <select id="birthMonth" name="birthMonth">
        <option value="" disabled selected>월</option>
        <% for(let i=0; i<12; i++) {%>
        <option value="<%=i%>"><%=i%></option>
        <% } %>
      </select>
      <span>월</span>
    </label>

    <label for="birthDay">
      <select id="birthDay" name="birthDay">
        <option value="" disabled selected>일</option>
        <% for(let i=1; i<31; i++) {%>
        <option value="<%=i%>"><%=i%></option>
        <% } %>
      </select>
      <span>일</span>
    </label>
  </fieldset>
 
  <fieldset>
    <legend>추가 속성들</legend>
    <label>
      좋아하는 색상
      <input type="color" name="color" />
    </label>

    <br />
    <label>
      좋아하는 숫자
      <input type="number" name="number" />
    </label>
    <br />
    <label>
      다짐 한마디
      <textarea name="comment" cols="30" rows="10"></textarea>
    </label>
  </fieldset>
      <button type="submit">제출</button>
    </form>

    <script>
        function checkForm(form){
        console.log(form.agree[0])
        if (!form.agree[0].checked && !form.agree[1].checked) {
            alert("성별을 선택해주세요");
            return false; // 이벤트 막기
          }
        }
    </script>
</body>
</html>